<%= form_for @course do |f| %>

     <div class="field">
        <% for unit in Unit.all %>
            <div>
                <%= check_box_tag "course[unit_ids][]", unit.id, @course.units.include?(unit) %>
                <%= unit.title %>
            </div>
        <% end %>
    </div>

  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :banner %><br>
    <%= f.text_field :banner %>
  </p>
  <p>
    <%= f.label :headshot %><br>
    <%= f.text_field :headshot %>
  </p>


  <p>
    <%= f.submit %>
  </p>

<% end %>
