<%= form_for @unit do |f| %>

   <div class="field">
        <%=collection_select(:unit, :course, Course.all, :id, :banner)%>
    </div>

  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@unit.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @unit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>


  <p>
    <%= f.submit %>
  </p>

<% end %>
