<h1><%= @unit.title %></h1>
<p>
  <strong>Content</strong>
  <%= @unit.content %>
</p>


<p>
  <strong>Course:</strong>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Destroy', unit_path(@unit),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', units_path %>
