<%= form_for @person do |f| %>

     <div class="field">
        <% for course in Course.all %>
            <div>
                <%= check_box_tag "person[course_ids][]", course.id, @person.courses.include?(course) %>
                <%= course.banner %>
            </div>
        <% end %>
    </div>

  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@person.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </p>

  <p>
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </p>

  <p>
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </p>

  <p>
    <%= f.label :courses %><br>
    <%= f.text_field :courses %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
